.venv/
.DS_Store
data/
.ipynb_checkpoints/
__pycache__/
notebooks/01_data_exploration.ipynb
notebooks/02_clean_pipeline.ipynb
decision_trees_and_random_forests_study_note.pdf
ridge_regression_study_note.pdf
